@import url("./layout/fonts.css");
@import url("./layout/normalize.css");
html, body {
  height: 100%;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html, body {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html, body {
    font-size: 14px;
  }
}

body {
  font-family: "Play", "Arial", "san-serif";
  line-height: 1.42;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h3, h4, h5, h6, p {
  padding: 0rem;
  margin: 0rem 0rem;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero {
  min-height: 40.625rem;
  height: 100vh;
  color: #292929;
  background-color: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 56.25rem;
  }
}
.hero__container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2.75rem 4.125rem 5rem;
  background-image: url("../img/main-bg-1.png");
  background-repeat: no-repeat;
  background-position: right 10% center;
  background-size: 45% auto;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
    padding: 1.75rem 0.5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 18%;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    gap: 9%;
  }
}
.hero__container::before {
  display: block;
  position: absolute;
  content: "";
  width: 3.125rem;
  height: 0.625rem;
  background: #C4C4C4;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  right: 11%;
  bottom: 0rem;
}
.hero__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 8%;
  }
  .hero__title-section::before {
    display: block;
    width: 21.875rem;
    height: 21.875rem;
    content: "";
    margin-bottom: 3.75rem;
    background: url("../img/main-bg-768.png") center center/contain no-repeat;
  }
}
.hero__title-h1 {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .hero__title-h1 {
    margin-bottom: 0.8125rem;
  }
}
.hero__subtitle {
  font-size: 1.3125rem;
  font-weight: normal;
  line-height: 1.19;
  color: #292929;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    padding: 0 10%;
  }
}
.hero__icons-section {
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5%;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}
.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media screen and (max-width: 768px) {
  .header__contacts.contacts {
    display: none;
  }
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.logo__img {
  width: 2.5rem;
  height: 2.5rem;
  fill: #E01F3D;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  row-gap: 0.125rem;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  font-weight: normal;
  white-space: nowrap;
}
.menu__item:hover .menu__link {
  color: red;
}
.menu__link {
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.contacts {
  font-style: normal;
  font-family: "Play", "Arial", "san-serif";
  font-size: 1.125rem;
  font-weight: normal;
  white-space: nowrap;
}
.contacts__phone-icon {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3125rem;
}

.humburger {
  position: fixed;
  top: 3.5%;
  right: 2%;
  width: 1.625rem;
  height: 1.5625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .humburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.humburger__plank {
  display: block;
  background: black;
  height: 0.3125rem;
  border-radius: 5px;
}

.title-h1 {
  font-family: "Play", "Arial", "san-serif";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.08;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .title-h1 {
    font-size: 2.25rem;
  }
}
.title-h1_white {
  color: white;
}

.purchase-btn {
  font-family: "Play", "Arial", "san-serif";
  display: inline-block;
  padding: 1.125rem 2.1875rem;
  border-radius: 6.25rem;
  background: #E01F3D;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  max-height: 3.75rem;
  max-width: 10.625rem;
  min-width: 9.375rem;
  font-weight: bold;
  border: none;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  cursor: pointer;
}
.purchase-btn:hover {
  background: #CA1B36;
  color: white;
  -webkit-box-shadow: 0 0 1rem 0.0625rem #CA1B36;
          box-shadow: 0 0 1rem 0.0625rem #CA1B36;
}
.purchase-btn_reset {
  font-weight: normal;
  background: transparent;
  text-transform: none;
}
.purchase-btn_reset:hover {
  color: red;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
.feature__icon {
  width: 3.125rem;
}
.feature__text {
  max-width: 6.875rem;
  font-family: "Play", "Arial", "san-serif";
  font-size: 16px;
  color: #292929;
  line-height: 1.125;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.desc {
  font-size: 16px;
  font-family: "Play", "Arial", "san-serif";
  color: #666666;
  line-height: 1.16;
  font-weight: normal;
  font-style: normal;
}

.title-h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  color: #292929;
  font-family: "Play", "Arial", "san-serif";
  line-height: 1.17;
}

.benefits-section {
  min-height: 40.625rem;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .benefits-section {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section {
    min-height: 56.25rem;
  }
}
.benefits-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  padding: 11% 0 11% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .benefits-section__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8% 0;
    gap: 10%;
    width: 100%;
  }
}
.benefits-section__container::before {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -4%;
  border: 1.125rem solid transparent;
  border-bottom: 2.25rem solid #E01F3D;
  border-top: 0;
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
  width: 0rem;
  height: 0rem;
}

.headline {
  text-align: center;
}
.headline__title-h1 {
  margin-bottom: 1.25rem;
}
.headline__desc {
  padding: 0 18%;
}
@media screen and (max-width: 480px) {
  .headline__desc {
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}
@media screen and (max-width: 768px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 11%;
    width: 95%;
  }
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  max-width: 15.1875rem;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.benefits__item:not(:last-of-type)::before {
  content: url("../img/three-dots.svg");
  position: absolute;
  top: 3.4375rem;
  left: 102%;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}
@media screen and (max-width: 768px) {
  .benefits__item:not(:last-of-type)::before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: left;
  }
}
.benefit__image {
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto;
    width: 8rem;
    height: 8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.benefit__image-wrap {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background: #F8FAF9;
  border-radius: 50%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrap {
    width: 100%;
    height: 100%;
    background: url("../img/circle.png") center center/contain no-repeat;
  }
}
.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefit__title-h3 {
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .benefit__title-h3 {
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 480px) {
  .benefit__text {
    padding: 0 2%;
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

.reviews {
  min-height: 40.625rem;
  height: 100vh;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .reviews {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews {
    min-height: 56.25rem;
  }
}
.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 0;
  position: relative;
}
@media screen and (max-width: 480px) {
  .reviews__container {
    padding: 3.125rem 0;
  }
}
.reviews__container::after {
  content: "";
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  background: #868686;
  border-radius: 50%;
  left: 2%;
  bottom: -1.25rem;
}
.reviews__title-h1 {
  position: relative;
}
.reviews__list {
  position: relative;
  width: 82%;
  min-height: 21.875rem;
  overflow: hidden;
  background: #F8FAF9;
}
.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.reviews__item.reviews__item_active {
  position: static;
  opacity: 1;
}

.reviews-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.375rem;
}
.reviews-switcher__item {
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  border: 0.3125rem solid transparent;
  overflow: hidden;
}
.reviews-switcher__item:hover {
  border: 0.3125rem solid #E01F3D;
}
.reviews-switcher__item_active {
  border: 0.3125rem solid #E01F3D;
}
.reviews-switcher__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.review {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #F8FAF9;
  padding: 2.625rem;
  gap: 2.5rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.625rem;
    min-height: 28.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .review .review__image-wrap {
    width: 8.125rem;
    height: 8.125rem;
  }
}
.review::before {
  content: "";
  position: absolute;
  width: 5.1875rem;
  height: 5.1875rem;
  border-radius: 50%;
  background-color: white;
  left: 50%;
  top: -3.75rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (max-width: 480px) {
  .review::before {
    display: none;
  }
}
.review__image-wrap {
  width: 15.8125rem;
  height: 16.5rem;
}
.review__avatar {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.review__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 52%;
}
@media screen and (max-width: 768px) {
  .review__text {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.875rem;
    max-width: 90%;
  }
}

.title-h4 {
  font-family: "Play", "Arial", "san-serif";
  font-size: 16px;
  color: #292929;
  font-weight: bold;
  line-height: 1.17;
}

.order {
  min-height: 40.625rem;
  height: 100vh;
  background: #181818;
  position: relative;
}
@media screen and (max-width: 768px) {
  .order {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .order {
    min-height: 56.25rem;
  }
}
.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.75rem;
  padding: 4.375rem 5rem 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .order__container {
    padding: 0;
  }
}
.order__title-h1 {
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 8%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}
.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.0625rem;
  margin-bottom: 0.6875rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form__title {
  font-family: "Play", "Arial", "san-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.13;
  color: white;
}
.form__input {
  width: 100%;
  border: 0.1875rem solid transparent;
  padding: 1.25rem 0.6875rem;
  outline: none;
  border-radius: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem;
  }
}
.form__input:focus {
  border-color: #E01F3D;
}
.form__input_textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input_textarea {
    height: 5.125rem;
  }
}
.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5625rem;
  }
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (max-width: 480px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input-error {
  border-color: red;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 0.625rem;
}
.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio__elem:checked ~ .radio__visible_checkbox > .radio__check-mark {
  display: block;
}
.radio__visible, .radio__visible_checkbox {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  background-color: white;
  border-radius: 50%;
}
.radio__visible::before, .radio__visible_checkbox::before {
  content: "";
  display: none;
  position: absolute;
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background-color: red;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__title {
  font-family: "Play", "Arial", "san-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  color: white;
}
.radio_checkbox .radio__visible_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}
.radio__check-mark {
  display: none;
  width: 0.625rem;
  height: 0.625rem;
  fill: red;
}

.location {
  height: 100vh;
  max-height: 40.625rem;
}
@media screen and (max-width: 768px) {
  .location {
    max-height: 39.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .location {
    max-height: 39.6875rem;
  }
}
.location__container {
  position: relative;
  width: 100%;
  height: 100%;
}
.location__map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item {
  position: relative;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .socials__item {
    height: 1.875rem;
    width: 1.875rem;
  }
}

.social {
  display: block;
}
.social__link-vk {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/socials/vk.svg) no-repeat center center/contain;
}
.social__link-fb {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/socials/f.svg) no-repeat center center/contain;
}
.social__link-inst {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/socials/in.svg) no-repeat center center/contain;
}
.social__link-tg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/socials/tv.svg) no-repeat center center/contain;
}

.products {
  min-height: 40.625rem;
  height: 100vh;
  background: #F8FAF9;
}
@media screen and (max-width: 768px) {
  .products {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .products {
    min-height: 50rem;
  }
}
.products__arrow.arrow_left {
  position: absolute;
  top: 47%;
  left: -4%;
  z-index: 98;
}
@media screen and (max-width: 768px) {
  .products__arrow.arrow_left {
    top: 20%;
    left: 3%;
  }
}
@media screen and (max-width: 480px) {
  .products__arrow.arrow_left {
    left: -7%;
  }
}
.products__arrow.arrow_right {
  position: absolute;
  top: 47%;
  right: -4%;
  z-index: 98;
}
@media screen and (max-width: 768px) {
  .products__arrow.arrow_right {
    top: 20%;
    right: 3%;
  }
}
@media screen and (max-width: 480px) {
  .products__arrow.arrow_right {
    right: -7%;
  }
}
.products__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products__container {
    width: 100%;
  }
}
.products__slider {
  width: 95%;
  position: relative;
}
.products__slider .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  min-height: 40.625rem;
  gap: 5%;
}
@media screen and (max-width: 480px) {
  .products__list {
    min-height: 50rem;
  }
}
.products__item {
  width: 100%;
}

.arrow {
  display: block;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.arrow_left {
  margin-right: 0.9375rem;
}
.arrow_right {
  margin-left: 0.9375rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.product__arrow.arrow_left {
  display: none;
}
@media screen and (max-width: 768px) {
  .product__arrow.arrow_left {
    font-size: 2.5rem;
    display: block;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: right;
  }
}
.product__arrow.arrow_right {
  display: none;
}
@media screen and (max-width: 768px) {
  .product__arrow.arrow_right {
    font-size: 2.5rem;
    display: block;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    text-align: left;
  }
}
.product__image-wrap {
  width: 49%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .product__image-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media screen and (max-width: 480px) {
  .product__image-wrap {
    width: 85%;
  }
}
.product__image-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  height: 100%;
  background: url("../img/product__image-1100.png") center center/contain no-repeat;
}
.product__image-2 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
  height: 100%;
  background: url("../img/product__image-1100-2.png") center center/contain no-repeat;
}
.product__description {
  height: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6%;
  width: 46%;
}
@media screen and (max-width: 768px) {
  .product__description {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.product__dropdown {
  position: relative;
  height: 5.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .product__dropdown {
    display: none;
  }
}
.product__icon-wrap {
  cursor: pointer;
  width: 5.625rem;
  height: 100%;
  border-radius: 5px;
  background: #9A9A9A;
  position: relative;
}
.product__icon-wrap:hover ~ .specification {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  left: 5.625rem;
  opacity: 1;
}
.product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.625rem;
  height: 2.625rem;
  fill: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product__specification {
  position: absolute;
  top: 0;
  left: -6249.375rem;
  opacity: 0;
  z-index: 1000;
}
.product__specification:hover {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  left: 5.625rem;
  opacity: 1;
}
.product__specification::before {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 200px;
  top: 0;
  left: -90px;
  background: transparent;
  z-index: -10;
}
.product__desc {
  padding-right: 20%;
}
@media screen and (max-width: 768px) {
  .product__desc {
    padding: 0;
  }
}
.product__features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .product__features-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60%;
  }
}
.product__price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__price-wrap {
    gap: 15%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .product__price-wrap {
    gap: 3%;
  }
}
.product__price {
  font-size: 2.25rem;
  font-family: "Play", "Arial", "san-serif";
  color: black;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  margin-right: 5%;
}

.specification {
  width: 65%;
  height: 18.125rem;
  padding: 1.5625rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.specification__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.specification__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.specification__icon-wrap {
  height: 1.5625rem;
  width: 1.5625rem;
  margin-right: 0.3125rem;
}
.specification__icon {
  width: 100%;
  height: 100%;
  fill: black;
}
.specification__name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-feature {
  font-size: 16px;
  font-family: "Play", "Arial", "san-serif";
  color: #666666;
  line-height: 1.16;
  font-weight: normal;
  font-style: normal;
}
.product-feature__name {
  margin-bottom: 0.625rem;
}
.product-feature__value {
  font-weight: bold;
  color: black;
  white-space: nowrap;
}

.title-h2 {
  font-family: "Play", "Arial", "san-serif";
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.08;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .title-h2 {
    font-size: 1.875rem;
  }
}
.title-h2_white {
  color: white;
}

.modal {
  z-index: 101;
}
.modal__close {
  display: none;
}
.modal__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 40.625rem;
    background-color: #313131;
  }
  .modal__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    position: relative;
  }
  .modal__close {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    width: 20px;
    height: 20px;
  }
  .modal__close:hover .modal__cross {
    fill: red;
  }
  .modal__cross {
    height: 100%;
    width: 100%;
    fill: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .modal__menu {
    display: block;
    color: white;
  }
  .modal__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__menu .menu__item {
    font-size: 2.25rem;
  }
}

.team {
  min-height: 40.625rem;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .team {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .team {
    min-height: 56.25rem;
  }
}
.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__title-h1 {
  margin-bottom: 3.3125rem;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1%;
}
.team__list_desktop > .team__item > .team__content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team__list_desktop {
    display: none;
  }
}
.team__list_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team__list_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 13.75rem;
    row-gap: 0.9375rem;
  }
}
.team__item {
  text-align: center;
  max-width: 220px;
  position: relative;
}
.team__image-wrap {
  margin-bottom: 1.5625rem;
}
.team__image {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.6875rem;
  white-space: nowrap;
}
.team__content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.team__job {
  font-weight: bold;
}
.team__desc {
  padding: 0 5%;
}

.triangle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-top-color: red;
}
.triangle_rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-ajax {
  display: none;
}
.modal-ajax_forId {
  border-radius: 15px;
}
.modal-ajax__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 18.75rem;
  height: 10.9375rem;
}
.modal-ajax__content {
  text-align: center;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.33;
  margin-bottom: 1.125rem;
}
.modal-ajax__content_error {
  color: red;
  font-weight: bold;
}
.modal-ajax__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fancybox-content {
  padding: 0;
}

.fancybox-button {
  display: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  min-height: 5.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 10rem;
  }
}
.footer__container {
  padding: 1% 1% 1% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .footer__contacts .contacts__phone {
    color: red;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts .contacts__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
  }
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 1%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.3125rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item_active .fixed-menu__link {
  border-color: red;
}
.fixed-menu__item_active .fixed-menu__link::before {
  background: red;
}
.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border: 0.0625rem solid transparent;
  border-radius: 50%;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}