
$containerWidth:1100px;
$baseFontSize:16px;
$black: #292929;
$background-color:#F8FAF9;
$baseFontFamily:'Play', 'Arial', 'san-serif';
$z-fixed-menu:100;


//breakpoints
$tablets :768px;
$phone:480px;

@import './media.scss';
//layout + container + wrapper
@import './layout/base.scss';
@import url('./layout/fonts.css');
@import url('./layout/normalize.css');

@import './blocks/hero.scss';
@import './blocks/header.scss';
@import './blocks/logo.scss';
@import './blocks/menu.scss';
@import './blocks/contacts.scss';
@import './blocks/humburger.scss';
@import './blocks/title-h1.scss';
@import './blocks/purchase-btn.scss';
@import './blocks/features.scss';
@import './blocks/feature.scss';
@import './blocks/icon.scss';
@import './blocks/desc.scss';
@import './blocks/title-h3.scss';
@import './blocks/benefits-section.scss';
@import './blocks/headline.scss';
@import './blocks/benefits.scss';
@import './blocks/benefit.scss';
@import './blocks/reviews.scss';
@import './blocks/reviews-switcher.scss';
@import './blocks/review.scss';
@import './blocks/title-h4.scss';
@import './blocks/order.scss';
@import './blocks/form.scss';
@import './blocks/radio.scss';
@import './blocks/location.scss';
@import './blocks/socials.scss';
@import './blocks/social.scss';
@import './blocks/products.scss';
@import './blocks/arrow.scss';
@import './blocks/product.scss';
@import './blocks/specification.scss';
@import './blocks/product-feature.scss';
@import './blocks/title-h2.scss';
@import './blocks/modal.scss';

@import './blocks/footer.scss';
@import './blocks/fixed-menu.scss';


.team {
  min-height: rem(650px);
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;

  @include tablets {
    min-height: rem(1000px);
  }

  @include phone {
    min-height: rem(900px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title-h1 {
    margin-bottom: rem(53px);
  }

  &__list {
    display: flex;
    gap: 1%;

    &_desktop {

      & > .team__item > .team__content {
        position: absolute;
        top: 100%;
      }
      
      @include tablets {
        display: none;
       
      }

    }

    &_mobile {
      display: none;

      @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: rem(220px);
        row-gap: rem(15px);
      }
    }
  }
  
  &__item {
    text-align: center;
    max-width: 220px;
    position: relative;
  }

  &__image-wrap {
    margin-bottom: rem(25px);
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: rem(18px);
    font-weight: bold;
    margin-bottom: rem(11px);
    white-space: nowrap;
  }

  &__content {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }

  &__job {
    font-weight: bold;
  }

  &__desc {
    padding: 0 5%;
  }
} 

.triangle {
  transition: 0.5s;
  display: inline-block;
  width: 10px;
  height: 10px;
  border:5px solid transparent;
  border-top-color:red ;

  &_rotated {
    transform: rotate(180deg);
  }
}




