
$containerWidth:1100px;
$baseFontSize:16px;
$black: #292929;
$background-color:#F8FAF9;
$baseFontFamily:'Play', 'Arial', 'san-serif';
$z-fixed-menu:100;


//breakpoints
$tablets :768px;
$phone:480px;

@import './media.scss';
//layout + container + wrapper
@import './layout/base.scss';
@import url('./layout/fonts.css');
@import url('./layout/normalize.css');

@import './blocks/hero.scss';
@import './blocks/header.scss';
@import './blocks/logo.scss';
@import './blocks/menu.scss';
@import './blocks/contacts.scss';
@import './blocks/humburger.scss';
@import './blocks/title-h1.scss';
@import './blocks/purchase-btn.scss';
@import './blocks/features.scss';
@import './blocks/feature.scss';
@import './blocks/icon.scss';
@import './blocks/desc.scss';
@import './blocks/title-h3.scss';
@import './blocks/benefits-section.scss';
@import './blocks/headline.scss';
@import './blocks/benefits.scss';
@import './blocks/benefit.scss';
@import './blocks/reviews.scss';
@import './blocks/reviews-list.scss';
@import './blocks/review.scss';
@import './blocks/title-h4.scss';
@import './blocks/order.scss';
@import './blocks/form.scss';
@import './blocks/radio.scss';
@import './blocks/location.scss';
@import './blocks/socials.scss';
@import './blocks/social.scss';
@import './blocks/products.scss';
@import './blocks/product.scss';
@import './blocks/specification.scss';
@import './blocks/product-feature.scss';
@import './blocks/title-h2.scss';

@import './blocks/footer.scss';
@import './blocks/fixed-menu.scss';




.modal {
  

  &__close {
    display: none;
  }

  &__menu {
    display: none;
  }

  @include tablets {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: rem(650px);
    background-color: #313131;

  &__container {
    height: 100%;
    position: relative;
    padding: rem(135px) rem(100px);

  }

  &__close {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    color: white;
    width: 20px;
    height: 20px;
    
    &:hover .modal__cross {
      fill: red;
      
    }
  }
  
  &__cross {
    height: 100%;
    width: 100%;
    fill: white;
    transition: 0.5s;
  }
  
  &__menu {
    display: block;
    color: white;
    
    
    .menu__list {
      flex-direction: column;
      row-gap: rem(20px);
      display: flex;
    }

    .menu__item {
      font-size: rem(36px);
      
    }
    
  }

  }
}


