html, body {
  height: 100%;
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phone {
    font-size: $baseFontSize - 2px;
  }
}

body {
  font-family: $baseFontFamily;
  line-height: 1.42;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  margin: 0;
}


* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h3, h4, h5, h6, p {
  padding: rem(0px);
  margin: rem(0px) rem(0px);
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width:95%;
  max-width: $containerWidth;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .section {
    // height: 100vh;
    height: 100%;
    // overflow: hidden;
  
    @include tablets{
  
      //  min-height: none; 
       min-height: rem(1000px); 
    }
  
    @include phone {
      //  min-height: none;
       min-height: rem(900px);
    }
  }
}

.wrapper__content {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

