.arrow {
  display: block;
  cursor: pointer;
  width: rem(50px);
  height: rem(50px);
  font-size: rem(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  
  &_left {
    margin-right: rem(15px);
    
  }

  &_right {
    margin-left: rem(15px);
  }
}