.feature {
  display: flex;
  gap: rem(15px);
  
  &__icon {
    width: rem(50px);
  }
  
  &__text {
    max-width: rem(110px);
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    color: $black;
    line-height: 1.125;
  }
}