.fixed-menu {
  position: fixed;
  top: 30%;
  right: 1%;
  z-index: $z-fixed-menu;

  @include tablets {
    display: none;
  }

  &__item {
    margin-bottom: rem(5px);
    &:hover {
      .fixed-menu__link {
        border-color:red;

        &::before {
          background: red;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_active {

      .fixed-menu__link {
        border-color:red;

        &::before {
          background: red;
        }
      }
    }
  }
  
  &__link {
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    display: block;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &_modified {
    .fixed-menu {
      &__item {
        &:hover {
          .fixed-menu__link {
            border-color:rgb(252, 128, 196);
    
            &::before {
              background: rgb(252, 128, 196);
            }
          }
        }

        &_active {

          .fixed-menu__link {
            border-color:rgb(252, 128, 196);
    
            &::before {
              background: rgb(252, 128, 196);
            }
          }
        }
      }

      &__link {
        &::before {
          background: rgb(137, 250, 244);
        }
      }
    }
  }
}

