.form {
  display: flex;
  gap: rem(27px);

  @include tablets {
    flex-direction: column;
    padding: 0 8%;
  }

  @include phone {
    padding: 0;
  }

  &__col {
    flex: 1;
  }

  &__row {
    display: flex;
    gap: rem(17px);
    margin-bottom: rem(11px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    flex: 1;
  }

  &__title {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    font-weight: normal;
    line-height: 1.13;
    color: white;
  }

  &__input {
    width: 100%;
    border: rem(3px) solid transparent;
    padding: rem(20px) rem(11px);
    outline: none;
    border-radius: rem(5px);

    @include tablets {
      padding: rem(8px);
    }
    
    &:focus {
      border-color: #E01F3D;
    }

    &_textarea {
      height: rem(152px);
      resize: none;

      @include tablets {
        height: rem(82px);
      }
    }
  
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20px);
    margin-bottom: rem(24px);

    @include phone {
      justify-content: center;
      margin-bottom: rem(25px);
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__buttons {

    @include tablets {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    @include phone {
      justify-content: center;
    }
    
  }

}