.form {
  display: flex;
  gap: 27px;

  &__col {
    flex: 1;
  }

  &__row {
    display: flex;
    gap: 17px;
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    flex: 1;
  }

  &__title {
    font-family: $baseFontFamily;
    font-size: $baseFontSize;
    font-weight: normal;
    line-height: 1.13;
    color: white;
  }

  &__input {
    width: 100%;
    border: 3px solid transparent;
    padding: 20px 11px;
    outline: none;
    border-radius: 5px;
    
    &:focus {
      border-color: #E01F3D;
    }

    &_textarea {
      height: 152px;
      resize: none;
    }
  
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

  }

}