.hero {
  min-height: rem(650px);
  color: $black;
  background-color: $background-color;

   @include tablets{
     min-height: rem(1000px); 
   }

   @include phone {
     min-height: rem(900px);
   }
  
  &__container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:  rem(24px) rem(44px) rem(66px) rem(80px);
    background-image: url('../img/main-bg-1.png');
    background-repeat: no-repeat;
    background-position: right 10% center ;
    background-size: 45% auto;

    @include tablets {
      background: none;
      padding: rem(28px) rem(8px) ;
      justify-content: flex-start;
      gap: 18%;
    }

    @include phone {
      gap: 9%;
    }

    
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: rem(50px);
      height: rem(10px);
      background: #C4C4C4;
      transform: rotateZ(-45deg);
      right: 11%;
      bottom: rem(0px);
    }
  }
  
  &__title-section {
    width: 40%;

    @include tablets{
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 0 8%;

      &::before {
        display: block;
        width: rem(350px);
        height: rem(350px);
        content: "";
        margin-bottom: rem(60px);
        background: url('../img/main-bg-768.png') center center / contain no-repeat;
      }
    }
    
  }
  
  &__title-h1 {
    margin-bottom: rem(25px);

    @include tablets {
      margin-bottom: rem(13px);
      
    }
  }

  &__subtitle {
    font-size: rem(21px);
    font-weight: normal;
    line-height: 1.19;
    color: $black;
    margin-bottom: rem(32px);

    @include tablets{
      padding: 0 20%;
    }

    @include phone {
      padding: 0 10%;
    }
  }

  &__icons-section {
    max-width: 50%;

    @include tablets {
      display: none;
    }
  }

  
}