.hero {
  height: 100vh;
  min-height: 650px;
  color: $black;
  background-color: $background-color;
  
  &__container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:  24px 44px 66px 80px;
    background-image: url('../img/main-bg-1.png');
    background-repeat: no-repeat;
    background-position: right center ;
    background-size: 45% auto;

    
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 50px;
      height: 10px;
      background: #C4C4C4;
      transform: rotateZ(-45deg);
      right: 11%;
      bottom: 0px;
    }
  }
  
  &__title-section {
    width: 40%;
    // display: flex;
    // flex-direction: column;
    justify-content: flex-start;
  }
  
  &__title-h1 {
    margin-bottom: 25px;
  }

  &__subtitle {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.19;
    color: $black;
    margin-bottom: 32px;
  }

  &__icons-section {
    max-width: 50%;
  }

  
}