.products {
  min-height: rem(650px);
  height: 100vh;
  background: #F8FAF9;
  position: relative;

  @include tablets{
    min-height: rem(1000px); 
  }

  @include phone {
    min-height: rem(800px);
  }

  &__arrow.arrow {
    
    
    @include tablets {
      display: none;
    }
  }

  
  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
      width: 100%;
    }

    
  }

  &__slider {
    width: 90%;

  }

  &__list {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: rem(650px);

    @include phone {
      min-height: rem(800px);
    }
  }


  &__item {
    width: 100%;
  }

}