.products {
  min-height: rem(650px);
  background: #F8FAF9;
  

 

  &__arrow {

    &.arrow_left {
    position: absolute;
    top: 47%;
    left: -4%;
    z-index: 98;

    @include tablets {
      top: 20%;
      left: 3%;
    }
    @include phone {
      left: -5%;

    }

    }

    &.arrow_right {
    position: absolute;
    top: 47%;
    right: -4%;
    z-index: 98;

    @include tablets {
      top: 20%;
      right: 3%;
     }

    @include phone {
      right: -5%;

     }
   }
       
    
  }

  
  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablets {
      width: 100%;
    }

    
  }

  &__slider {
    width: 95%;
    position: relative;
    
    .bx-wrapper {
    box-shadow: none;
    border:none;
    background: transparent;
    }

  }

  &__list {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: rem(650px);
    gap: 5%;

    @include phone {
      min-height: rem(800px);
    }
  }


  &__item {
    width: 100%;
  }

}