.purchase-btn {
  font-family: $baseFontFamily;
  display: inline-block;
  padding: rem(18px) rem(41px);
  border-radius: rem(100px);
  background: #E01F3D;
  color: white;
  text-transform: uppercase;
  font-size: $baseFontSize;
  max-width: rem(170px);
  min-width: rem(150px);
  font-weight: bold;
  border: none;
  transition: 0.75s;
  cursor: pointer;

  &:hover {
    background: #CA1B36;
    color: white;
    box-shadow:0 0 rem(16px) rem(1px) #CA1B36;
  }

  &_reset {
    font-weight: normal;
    background: transparent;
    text-transform: none;
  
    &:hover {
      color: red;
      background: transparent;
      box-shadow: none;
    }
  }
}